body{
    margin:0;
    font-family:Poppins, sans-serif;
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
    background:#1e293b;
    padding:30px;
    border-radius:15px;
    width:320px;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

input{
    margin:15px 0;
    width:100%;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:10px;
    background:#4f46e5;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#6366f1;
}
